ftfy==6.1.1
gradio==3.12.0
-e git+https://github.com/huggingface/diffusers@daebee0963d2b39fb3fa9532ab271a91674c4070#egg=diffusers
huggingface-hub==0.11.1
numpy==1.23.5
onnxruntime==1.13.1
scipy==1.9.3
torch==1.13.0
transformers==4.25.1


