gradio
ftfy==6.1.1
diffusers==0.21.4
numpy
onnxruntime==1.15.1
huggingface-hub==0.16.4
scipy==1.9.3
torch==1.13.0
transformers==4.25.1
Accelerate==0.15.0
nest-asyncio==1.5.6 
discord.py
argparse
pytest-shutil
pathlib
onnx
packaging